@import url(https://fonts.google.com/specimen/Nunito);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.background-pattern{
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%239666e2' fill-opacity='0.35'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
  opacity: .3;
  zoom: 2;
}

.navbar{
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.logo-container{
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: flex;
  cursor: pointer;
  padding: 15px;
  transition: all .1s ease;
}
.logo-container:hover{
  transform: translateY(-3px);
}
.logo-img{
  width: 100%;
  height: 100%;
}

.page{
  margin: auto;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  padding: 20px ;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar{
  flex-grow: 1;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.search-input{
  margin: auto 0;
  width: 100%;
  border: none;
  padding: 0 2vh;
  height: 40px;
  border-radius: 20px;
  text-decoration: none;
  outline: none;
  border: 2px solid rgb(102, 75, 148);
  background-color: rgb(228, 219, 245);
  color: #333;
  font-size: 18px;
}

.search-input::placeholder{
  color: #333;
}

.search-input:focus{
  border: 2px solid rgb(255, 179, 37);
}
.suggested-search-container{
  position: absolute;
  background-color: white;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  margin-top: 80px;
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
}

.manga-suggestion{
  padding: 20px;
  font-size: 12px;
  cursor: pointer;
}
.manga-suggestion:hover{
  background-color: #eee;
}

.cart-btn-container{
  width: 80px;
  height: 80px;
  padding: 10px;
  display: flex;
}
.cart-btn{
  background-color:transparent;
  color: rgb(123, 82, 189);
  font-size: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
}

.cart-btn:hover{
  transform: translateY(-3px);
  color: rgb(98, 76, 138);
}

.cart-btn:focus{
  transform: scale(1.1);
  color: rgb(98, 76, 138);
}

.cart-btn:active{
  transform: scale(.95);
}

.cart-btn-size{
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: white;
  transform: translate(2px,-6px);
}


.page-index-selector{
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.index-btn{
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #444;
}

.index-number{
  font-size: 18px;
  font-weight: 500;
  cursor: default;
  margin: 0 5px;
}
.responsive-gallery{
  margin: 0 auto;
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 960px;
  gap: 30px;
}

.responsive-gallery-item{
  width: 170px;
  display: flex;
  flex-grow: 1;
  max-width: 240px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sold-out-sign{
  position: absolute;
  background-color: red;
  font-size: 36px;
  width: 105%;
  text-align: center;
  color: white;
  font-weight: 800;
  top: 38%;
  transform: rotate(-10deg);
  user-select: none;
}

.manga-card-name{
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  flex-grow: 1;
  color: #333;
  margin-bottom: 10px;
}

.manga-card-img-container{
  height: 250px;
  cursor: pointer;
  transition: all .1s ease;
}

.manga-card-img-container:hover{
  transform: translateY(-3px);
}

.sold-out{
  filter: blur(1px) grayscale() brightness(.7);  
}

.manga-card-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.manga-card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #333;
  height: 40px;
}
.manga-card-price{
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
.manga-card-stock{
  font-size: 12px;
  margin-right: 10px;
}
.add-to-cart-btn{
  height: 40px;
  width: 100%;
  border: none;
  background-color: rgb(123, 82, 189);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  transition: all ease .1s;
}
.add-to-cart-btn:hover{
  background-color: rgb(90, 63, 133);
  transform: translateY(-3px);
}
.add-to-cart-btn:active{
  transform: scale(.98);
}

.sold-out-btn{
  height: 40px;
  width: 100%;
  border: none;
  background-color: rgb(126, 126, 126);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.full-product-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  gap: 10px;
  padding: 20px;
  width: calc(100vw - 40px);
  max-width: 1100px;
  padding-bottom: 50px;
}

.back-btn{
  background-color: transparent;
  border: none;
  font-size: 36px;
  color: rgb(123, 82, 189);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: all .2s ease;
  margin-left: auto;
}
.back-btn:hover{
  color: rgb(90, 63, 133);
  transform: scale(1.1);
}
.back-btn:active{
  transform: scale(.96);
}

.full-product{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.full-product-img-container{
    object-fit: contain;
    width: 380px;
}
.full-product-img{
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.full-product-img-agotado{
  filter: blur(1px) grayscale() brightness(.7);  
}

.full-product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.full-product-name{
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
  max-width: 500px;
}

.full-product-buy{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-product-price{
  font-size: 30px;
  margin-right: 50px;
  color: #333;
}

.full-product-amount-selector{
  display: flex;
  align-items: center;
  width: 120px;
  min-width: 120px;
  justify-content: space-between;
  border: 2px solid #555;
  border-radius: 5px;
  font-size: 20px;
}

.rmv-manga{
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: white;
  border-right: 2px solid #555;
  cursor: pointer;
}

.amount-counter{
  background-color: #eee;
  flex-grow: 1;
  font-size: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.add-manga{
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
  border-radius: 0 5px 5px 0 ;
  background-color: white;
  border-left: 2px solid #555;
  cursor: pointer;
}

.add-to-cart-btn-full{
  margin-bottom: 30px;
  max-width: 500px;
}

.sold-out-btn:hover{
  background-color: rgb(126, 126, 126);
  transform: none;
  cursor: auto;
}

.full-product-details-title{
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.full-product-details{
  color: #333;
  font-size: 20px;
}

.carrito-page{
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: auto;
}

.carrito-list{
  margin: auto;
  width: 95%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.carrito-list-header{
  display: flex;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.carrito-item{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-width: 300px;
  width: 100%;
  gap: 10px;
}

.carrito-item-name{
  flex-grow: 1;
}

.carrito-item-info-container{
  display: flex;
  align-items: center;
  gap: 15px;
}



.carrito-amount-selector{
  min-width: 10px;
  width: 70px;
}
.carrito-amount-selector button{
  font-size: 12px;
  width: 20px;
  height: 20px;
}
.carrito-amount-selector p{
  font-size: 12px;
  height: 20px;
}

.rmv-carrito-item-btn{
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: rgb(102, 75, 148);
  cursor: pointer;
}

.carrito-list-footer{
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  border-top: 2px solid #ccc;
  margin-top: 5px;
  text-align: right;
  margin-bottom: 20px;
}

.carrito-form{
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}

.carrito-form-header{
  width: 95%;
  max-width: 1000px;
  padding: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.carrito-form-row{
  display: flex;
  width: 95%;
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.carrito-form-row div{
  width: 200px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 5px;
}
.carrito-form-row div label{
  font-size: 16px;
  color: #333;
  width: 100px;
}
.carrito-form-row div input{
  height: 40px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 2px solid rgb(102, 75, 148);
  background-color: rgb(240, 233, 252);
  font-size: 16px;
}
.carrito-form-row input::placeholder{
  color: #555;
}
.carrito-form-row input:focus{
  border: 2px solid rgb(255, 166, 0);
}

.send-compra-btn{
  padding: 10px 30px;
  border-radius: 5px;
  background-color: green;
  border: none;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}

.send-compra-btn:hover{
  transform: scale(1.03);
  background-color: rgb(6, 100, 6);
}

.send-compra-btn:active{
  transform: scale(.98);
}

.message-icon{
  margin-right: 20px;
  transform: translateY(1px);
}

.sent-order-page{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 500px;
}
.sent-order-title{
  font-size: 32px;
  color: #333;
  font-weight: 600;
}
.sent-order-description{
  color: #333;
}
.sent-order-logo{
  width: 100%;
  height: 150px;
}
.sent-order-logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}












/*    ANIMACIÓN LOADER    */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  z-index: 10;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(123, 82, 189);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}